<script>

$(document).ready(function(){
  $("#ser").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#sdetail tr").filter(function() {
	  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	  });
  });
  var i=1;
	$("#total").on("click",function(event){
		var data=$("#obj_taskdate").val();
		$(".taskdata").val(data);
		var v=0.0;
		$(".sum").each(function(){
			v += parseFloat(this.value);
		});
		if(v==0)
			{
				$("#result").text("Pls Add the Fields").css("color","red");
			}
		if(v > 8)
		{
			$("#result").text("Only 8 Hours Work will be Updated").css("color","red");
		}
		$.ajax({
			type: 'POST',
			url: "/project/uptasks",
			data: $("form").serialize(),
			success: function(response)
			 { 
				 if(response.success)
				{
					 $("#result").text(response.success).css("color","green");
					$("form")[0].reset();
				}
			    if(response.error)
				{
					$("#result").text(response.error).css("color","red");					
				}
				if(response.project)
				{
					$("#tab").html(response.project);
				}		
			}
		});
		event.preventDefault();	
	});	
});
</script>
<style> 
#tab, #flip {
    padding: 5px;
    text-align: center;
    background-color: #ffb6c1;
    border: solid 1px  #ff0000;
}
#tab {
    padding: 50px; 
}
</style>
<center><font face="ArialT" color="Red" size="4"><b>Time Sheet</b></font>
<hr width="120" color="green" size="4"><br><b>
<div id="result">
</div></b><br><br>
<%= nested_form_for @project, :url => {:action => "uptasks"}, :validate => true do |f| %>
 &nbsp;&nbsp;&nbsp;<font face="Arial" color="red"><%= "<div>#{@project.errors.full_messages.first}</div>".html_safe if @project.errors.any? %>   </font>
	<div class="p">
<% if @taskdate %>
	<%= date_field(:obj, :taskdate, :value => @taskdate) %>
<% else %>
	<%= date_field(:obj, :taskdate) %>
<% end %><br><br>
<table id="tasks"><tr><td><font face='Arial' color='blue' size='3'>ProjectTitle</font></td><td><font face='Arial' color='blue' size='3'>Title</font></td><td><font face='Arial' color='blue' size='3'>Description</font></td><td><font face='Arial' color='blue' size='3'>Duration</font></td></tr>
<%= f.fields_for :tasks, :wrapper => false do |task| %>
<tr>	<%= task.hidden_field :taskdate, class: "taskdata" %></tr>
<tr class="fields"><td> 
<%= task.select :proj_id, options_for_select(Proj.all.map{|c| [c.title, c.id]}, task.object.proj_id), {}, {class: "form-control selectpicker", data: "live-search"} %></td><td>
		<%= task.text_field :title %></td>
	<td>
		<%= task.text_field :desc %></td><td>	
		<%= task.number_field :duration, :class => "sum", step: :any %></td><td><%= task.link_to_remove "Remove" %></td>
</tr>
<% end %>
</table><br>
 	<%= f.link_to_add "add", :tasks,  "data-target" => "#tasks"%>	
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= f.submit "save", :id => "total" %><br>
	<br><%= link_to 'Back', {:controller => 'project', :action => 'index'} %>
</div>
<% end %>
<br><br>
<hr size="5" color="green"><br><br>
<input id="ser" type="text" placeholder="YYYY-MM-DD..">
<br><br>
<center> <font face="ArialT" color="Red" size="4" ><b> <div id="flip">All Tasks</div> </b></font></center>
<%= render partial: "view" %>



