<center>
<h1><font face="Arial" color="blue" size="6">Project Details</font></h1>
<hr size="5" color="green"><br><br><b>
<% if user_signed_in? -%>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% end %>
<%= link_to "New Project", {:controller => 'project', :action => 'new'} %>&nbsp;&nbsp;&nbsp;<%= link_to "All Tasks", {:controller => 'project', :action => 'alltask'} %></b><br><br>
<table cellpadding="7" cellspacing="7">
<tr><td><font face="Arial" color="Red" size="3" style="bold"><b>Title</b></font></td><td><font face="Arial" color="Red" size="3"><b>Description</b></font></td></tr>
<%= paginate @projects %>
<% @projects.each do |f|
%>
<tr><td><%= f.title %></td>
<td><%= f.desc %></td>
<td><%= link_to "show", project_path(f) %></td>
<td><%= link_to "Edit", {:controller => 'project', :action => 'edit', :id => f.id} %></td>
<td><%= link_to "Destroy", {controller: 'project', action: 'destroy'} %></td></tr>
<% end %>
</table></center>
